In [6]:
def print_star():
    print('************')

In [9]:
def print_star():
    print('************')
for i in range(6):
    print_star()

************
************
************
************
************
************

In [10]:
def print_star2():
    print('************')
    print('************')
for i in range(5):
    print_star2()

************
************
************
************
************
************
************
************
************
************

In [11]:
def print_hash():
    print('############')
print_hash()

############

In [14]:
def print_plus():
    print("++++++++++++")
print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

############
************
++++++++++++
++++++++++++
************
############

In [15]:
def print_star(n):
    for i in range(n):
        print('************')
print_star(10)

************
************
************
************
************
************
************
************
************
************

In [16]:
def print_hash(n):
    for i in range(n):
        print('############')
print_hash(10)

############
############
############
############
############
############
############
############
############
############

In [17]:
print_hash(6)

############
############
############
############
############
############

In [18]:
def print_hash(n):
    for i in range(n):
        print(i,'############')
print_hash(6)

0 ############
1 ############
2 ############
3 ############
4 ############
5 ############

In [19]:
def print_sub(a,b):
    sub = a - b
    print("{}과 {}의 차는 {}입니다.".format(a,b,sub))
print_sub(10,20)

10과 20의 차는 -10입니다.

In [20]:
def print_mul(a,b):
    mul = a * b
    print("{}과 {}의 곱은 {}입니다.".format(a,b,mul))
print_mul(10,20)

10과 20의 곱은 200입니다.

In [23]:
def print_root(a,b,c):
    r1 = (-b + (b ** 2 - 4*a*c) ** 0.5) / (2*a)
    r2 = (-b - (b ** 2 - 4*a*c) ** 0.5) / (2*a)
    print("해는 {} 또는 {}".format(r1,r2))
print_root(1,4,-21)
print_root(1,-6,8)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0

In [26]:
def print_area(width,height):
    area = width * height // 2
    print("밑변 {}, 높이{}인 삼각형의 면적은: {}".format(width,height,area))
print_area(10,20)

밑변 10, 높이20인 삼각형의 면적은: 100

In [32]:
def circle_area_circum(radius):
    area = radius ** 2 * 3.14
    circum =  2 * 3.14 * radius
    return area,circum
radius = 10
area,circum = circle_area_circum(radius)
print("반지름 {0:}인 원의 면적은 {1:.1f}, 원의 둘레는 {2:.1f}".format(radius,area,circum))

반지름 10인 원의 면적은 314.0, 원의 둘레는 62.8

In [33]:
def print_name(honorifics,first_name,last_name):
    print(honorifics,first_name,last_name)
print_name(first_name ='Gildong',last_name = 'Hong',honorifics = 'Dr.')
print_name('Gildong','Hong','Dr.')

Dr. Gildong Hong
Gildong Hong Dr.

In [5]:
def sum_nums(*num):
    list1 = list()
    s = 0
    for i in num:
        list1.append(i)
        s += i
    tuple1 = tuple(list1)
    print(len(tuple1), "개의 인자", tuple1)
    print("합계 : {0}, 평균 {1:.1f}".format(s,s/len(tuple1)))
sum_nums(10,20,30)

3 개의 인자 (10, 20, 30)
합계 : 60, 평균 20.0

In [2]:
def sum_nums(*num):
    list1 = list()
    s = 0
    for i in num:
        list1.append(i)
        s += i
    tuple1 = tuple(list1)
    print(len(tuple1), "개의 인자", tuple1)
    print("합계 : {0}, 평균 {1:.1f}".format(s,s/len(tuple1)))
sum_nums(10,20,30,40,50)

5 개의 인자 (10, 20, 30, 40, 50)
합계 : 150, 평균 30.0

In [4]:
def min_nums(*num):
    list1 = []
    for i in num:
        list1.append(i)
    print("최솟값은 ",min(list1))
min_nums(20,40,50,10)

최솟값은  10

In [34]:
'_'.join('ABCD')

'A_B_C_D'

In [36]:
s = 'My favorite thing is monsters.'
s.replace('monsters','cartoons')

'My favorite thing is cartoons.'

In [37]:
def add(a,b):
    return a + b
a = 3
b = 4
c = add(a,b)
print(c)

7

In [38]:
def add(a,b):
    result = a+b
    return result
a = add(3,4)
print(a)

7

In [39]:
def say():
    return 'Hi'
a = say()
print(a)

Hi

In [40]:
def add(a,b):
    print("%d, %d의 합은 %d입니다."%(a,b,a+b))
add(3,4)

3, 4의 합은 7입니다.

In [42]:
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [43]:
say()

'Hi'

In [46]:
def add(a,b):
    return a+b
result = add(a=3,b=7)
print(result)

10

In [47]:
result = add(b=5,a=3)
print(result)

8

In [48]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result
result = add_many(1,2,3)
print(result)
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [54]:
def add_mul(choice,*args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result
result = add_mul('add',1,2,3,4,5)
print(result)
result = add_mul('mul',1,2,3,4,5)
print(result)

15
120

In [57]:
def add_and_mul(a,b):
    return a+b,a*b
result = add_and_mul(3,4)
print(result)

(7, 12)

In [58]:
def say_myself(name,old,man = True):
    print("나의 이름은 %s 입니다." %name)
    print("나이는 %d살입니다." %old)
    if man:
        print('남자입니다.')
    else:
        print('여자입니다.')
say_myself("박응용",27,True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [59]:
say_myself("박응선",27,False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [60]:
a = 1
def vartest(a):
    a = a +1
vartest(a)
print(a)

1

In [62]:
vartest(3)
print(a)

1

In [63]:
a = 1
def vartest(a):
    a = a +1
    return a
a = vartest(a)
print(a)

2

In [64]:
a = 1
def vartest():
    global a
    a = a +1
    
vartest()
print(a)

2

In [65]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [66]:
a = input()
a

Life is too short, you nedd python

'Life is too short, you nedd python'

In [67]:
number = input("숫자를 입력하세요: ")
print(number)

숫자를 입력하세요: 3
3

In [68]:
type(number)

str

In [70]:
a = 123
print(a)
a = "Python"
print(a)
a=[1,2,3]
print(a)

123
Python
[1, 2, 3]

In [71]:
print("life""is""too short")
print("life" + "is" + "too short")

lifeistoo short
lifeistoo short

In [72]:
print("life", "is", "too short")

life is too short

In [73]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [76]:
def hello():
    print('Hello, world!')
hello()

Hello, world!

In [78]:
def add(a,b):
    print(a+b)
add(10,20)

30

In [79]:
def add(a,b):
    """이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."""
    return a+b
x = add(10,20)
print(x)
print(add.__doc__)

30
이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [80]:
print(add(10,20))

30

In [81]:
def one():
    return 1
x = one()
x

1

In [82]:
def not_ten(a):
    if a== 10:
        return
    print(a,'입니다.', sep='')
not_ten(5)
not_ten(10)

5입니다.

In [84]:
def add_sub(a,b):
    return a+b, a-b
x,y = add_sub(10,20)
print(x,y)

30 -10

In [85]:
x = add_sub(10,20)
x

(30, -10)

In [87]:
x,y = (30,-10)
print(x,y)

30 -10

In [88]:
def one_two():
    return [1,2]
x,y = one_two()
print(x,y)

1 2

In [89]:
def mul(a, b):
    c = a * b
    return c
 
def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)
 
x = 10
y = 20
add(x, y)

30
200

In [91]:
def fun(x,y):
    return x//y,x%y
x = 10
y = 3
quotient,remainder = fun(x,y)
print('몫: {0}, 나머지: {1}'.format(quotient, remainder))

몫: 3, 나머지: 1

In [93]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)
print_numbers(10,20,30)

10
20
30

In [94]:
x = [10,20,30]
print_numbers(*x)

10
20
30

In [96]:
def print_numbers(*args):
    for arg in args:
        print(arg)
print_numbers(10)
print_numbers(10,20,30,40)

10
10
20
30
40

In [97]:
x = [10]
print_numbers(*x)
y = [10,20,30,40]
print_numbers(*y)

10
10
20
30
40

In [98]:
def print_numbers(a, *args):
    print(a)
    print(args)

print_numbers(1)
print_numbers(1, 10, 20)
print_numbers(*[10, 20, 30])

1
()
1
(10, 20)
10
(20, 30)

In [99]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
personal_info('홍길동',30,'서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [100]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [101]:
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [102]:
print(10, 20, 30, sep=':', end='')

10:20:30

In [103]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [105]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [106]:
personal_info(*x)

이름:  name
나이:  age
주소:  address

In [107]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [110]:
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep='')
personal_info(name='홍길동')
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name: 홍길동
name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [111]:
x = {'name': '홍길동'}
personal_info(**x)
y = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**y)

name: 홍길동
name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [113]:
def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
personal_info('홍길동', 30)
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  비공개
이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [115]:
def get_max_score(*country):
    list1 = []
    for i in country:
        list1.append(i)
    return max(list1)
korean, english, mathematics, science = 100, 86, 81, 91

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score) 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91